@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto + Mono", sans-serif;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

/* Splash screen*/

.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

a {
  text-decoration: none;
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

a {
  text-decoration: none;
}

body {
  background-color: #212529;
  max-width: 720px;
}
.GoToCenter {
  position: absolute;
  top: 50%;
  left: 48%;
  margin: -35px 0 0 -100px;
  text-align: left;
}

#typewritter-text {
  font-family: Anonymous Pro, monospace, Arial, Helvetica, sans-serif;
  font-size: 2.2vw;
  color: rgb(75, 197, 38);
}

#pre-typewritter-text {
  font-family: Anonymous Pro, monospace, Arial, Helvetica, sans-serif;
  font-size: 2.2vw;
  color: rgb(255, 255, 255);
}
.icons {
  display: flex;
  gap: 4vw;
  font-size: 3vw;
  position: relative;
  transform: translate(37vw, 500px);
  justify-content: content;
}
.icon {
  color: grey;
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.icon:hover {
  color: rgb(49, 250, 49);
}

.skills {
  color: white;
  position: relative;
  right: -30%;
  bottom: -80%;
}

.hire {
  position: relative;
  font-size: 2vw;
  right: -92vw;
  font-family: sans-serif;
  font-weight: bold;
  top: 5px;
  justify-content: right;
}
.hire {
  color: rgb(243, 243, 243);
  background-color: transparent;
  text-decoration: none;
}
.hire:hover {
  color: rgb(255, 255, 255);
}

.n {
  position: absolute;
  color: #fff;
  font-size: 2.3vw;
  left: 20px;
  transition: all 500ms ease;
}

.cv {
  position: absolute;
  color: white;
  font-size: 1.2vw;
  background-color: rgb(20, 8, 8);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  margin: 0vw 0;
  padding: 10px 18px;
  transform: translate(40vw, 45vh);
  transition: all 500ms ease;

  /* right: 49.3vw;
  bottom: 39vh; */
}
.cv:hover {
  color: rgb(20, 8, 8);
  background-color: white;
}

.dropdown {
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 2.3vw;
  transform: translate(45vw);
  transition: all 500ms ease;
}

.dropdown-content {
  font-size: 2vw;
  display: none;
  position: absolute;
  background: transparent;
  min-width: 170px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.wp {
  position: relative;
  left: -5vw;
  top: -3vh;
  transition: all 500ms ease;
}
.wp:hover {
  color: rgb(32, 248, 24);
}
.top {
  display: flex;
  padding-top: 20px;
}

.dropdown:first-letter {
  color: rgb(50, 255, 9);
}
.n:hover {
  color: red;
}
.n:first-letter {
  color: rgb(255, 0, 0);
}
.hire:first-letter {
  color: rgb(3, 187, 243);
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}
canvas {
  position: absolute;
  background-color: #000;
  z-index: -1;
}
@media (max-width: 1080px) {
  body {
    position: fixed;
  }
  .logo-header {
    position: absolute;
    display: flex;
    gap: 5px;
    top: 40%;
    left: 50%;
    transform: translate(10vw, 10vw);
    color: white;
  }
  .n {
    font-size: 5vw;
    top: 11vw;
    transform: translate(1vw, 1vh);
    font-weight: bold;
  }
  .GoToCenter {
    right: 1vw;
  }
  /* .wp{
    top:-4vw;
    left:6vw;
  } */
  .hire {
    transform: translate(-38vw, 3vh);
    font-size: 5vw;
  }
  .icons {
    position: center;
    gap: 12vw;
    font-size: 10vw;
    transform: translate(4vw, 80vh);
  }

  .cv {
    position: inherit;
    font-size: 3vw;
    transform: translate(38vw, 60vh);
  }

  #pre-typewritter-text {
    padding: 0px;
    font-size: 5vw;
  }

  #typewritter-text {
    font-size: 5vw;
  }

  .dropdown {
    position: relative;
    transform: translate(40vw,10vh);
    font-size: 4vw;
  }

  .dropdown-content {
    font-size: 4vw;
  }

  .logo {
    transform: translate(-30vw, 0vh);
  }
  .wp {
    left: -12vw;
    top: -3vh;
  }
}
