@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto + Mono", sans-serif;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

/* Splash screen*/

.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.backgound {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

a {
  text-decoration: none;
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

a {
  text-decoration: none;
}

body {
  background-color: #212529;
}
.GoToCenter {
  position: absolute;
  top: 50%;
  left: 48%;
  margin: -35px 0 0 -100px;
  text-align: left;
}

#typewritter-text {
  font-family: Anonymous Pro, monospace, Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(75, 197, 38);
}

#pre-typewritter-text {
  font-family: Anonymous Pro, monospace, Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.icons {
  display: flex;
  gap: 50px;
  font-size: 40px;
  position: relative;
  transform: translate(500px, 500px);
}
.icon{
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.icon:hover {
  color: #fff;
}

.skills {
  color: white;
  position: relative;
  right: -30%;
  bottom: -80%;
}

.hire {
  position: relative;
  font-size: 25px;
  right: -1260px;
  font-family: sans-serif;
  font-weight: bold;
  top: 5px;
}
.hire {
  color: rgb(243, 243, 243);
  background-color: transparent;
  text-decoration: none;
}
.hire:hover {
  color: rgb(255, 255, 255);
}

.n {
  position: absolute;
  color: #fff;
  font-size: 30px;
  left: 20px;
}

.cv {
  position: absolute;
  color: white;
  background-color: rgb(20, 8, 8);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  margin: 30px 0;
  padding: 10px 18px;
  right: 675px;
  bottom: 220px;
}
.cv:hover {
  color: rgb(20, 8, 8);
  background-color: white;
}

.dropdown {
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 30px;
  transform: translate(600px);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #212529;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.wp {
  position: absolute;
  left: 25px;
  top:-20px;
}
.wp:hover {
  color: rgb(32, 248, 24);
}
.top {
  display: flex;
  padding-top: 20px;
}

.dropdown:first-letter {
  color: rgb(50, 255, 9);
}
.n:first-letter {
  color: rgb(255, 0, 0);
}
.hire:first-letter {
  color: rgb(3, 187, 243);
}

@media screen and (max-width: 1080px) {
  .logo-header {
    position: absolute;
    display: flex;
    gap: 5px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .GoToCenter {
    left: 28%;
  }

  .dropdown {
    transform: translate(15px, 350px);
  }

  .hire {
    right: -300px;
  }
  .icons {
    transform: translate(5px, 600px);
  }

  .cv {
    right: 150px;
    bottom: 220px;
  }
}

